<button class="icon-hamburger lst:h-8 lst:w-8 lst:flex! lst:space-x-2 lst:justify-center lst:pointer-events-none">
  <div class="icon-hamburger__line  lst:w-px lst:h-full lst:bg-black lst:block!"></div>
  <div class="icon-hamburger__line lst:w-px lst:h-full lst:bg-black lst:block!"></div>
  <div class="icon-hamburger__line lst:w-px lst:h-full lst:bg-black lst:block!"></div>
</button>
