<div class="lst-border-b lst-border-black">
  <div>
    <div class="lst-px-3 lg:lst-px-5 lst-py-5 lst-border-b lst-border-black lst-text-left lst-uppercase">
      <h2 class="h2">{{ section.settings.title }}</h2>
    </div>
    <div class="lst-grid lst-grid-cols-2 lg:lst-grid-cols-4 lst-divide-x lst-divide-black">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'product' %}
            {% render 'card-product-lst', card_product: block.settings.product %}
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Featured products",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "Featured products",
      "category": "Products"
    }
  ]
}
{% endschema %}
