<!-- sections/latest-products.liquid -->
{% comment %}theme-check-disable UndefinedObject{% endcomment %}

{% comment %}theme-check-enable UndefinedObject{% endcomment %}

<section>
  <div class="lst-px-3 lg:lst-px-5 lst-py-5 lst-border-b lst-border-black lst-text-left lst-uppercase">
    <h2 class="h2">{{ section.settings.heading }}</h2>
  </div>
  <div class="lst-grid lst-grid-cols-2 md:lst-grid-cols-4 lst-divide-x lst-divide-black">
    {% for product in section.settings.collection.products limit: section.settings.product_limit %}
      <div class="lst-border-b lst-border-black">
        {% render 'card-product-lst', card_product: product %}
      </div>
    {% endfor %}
  </div>
</section>
{% schema %}
{
  "name": "t:sections.latest_products.name",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.latest_products.settings.heading.label",
      "default": "Latest Products"
    },
    {
      "type": "range",
      "id": "product_limit",
      "label": "t:sections.latest_products.settings.product_limit.label",
      "default": 4,
      "min": 1,
      "max": 20
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.latest_products.settings.collection.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.latest_products.presets.name",
      "category": "t:sections.latest_products.presets.category"
    }
  ]
}
{% endschema %}
