<!-- sections/left-content-section.liquid -->
<div class="left-content lst-bg-primary lst-prose lst-prose-lg lst-p-3 lg:lst-p-5">
  {{ page.content }}
</div>

{% schema %}
{
  "name": "Left Content"
}
{% endschema %}
