<!-- sections/left-content-section.liquid -->
<div class="lst-prose lst-prose-xl lst-leading-6 lst-prose-black">
  {{ page.content }}
</div>

{% schema %}
{
  "name": "Left Content"
}
{% endschema %}
