<!-- sections/left-content-section.liquid -->
<div class="lst:prose lst:prose-2xl lst:xl:prose-3xl lst:leading-8 lst:prose-black">
  {{ page.content }}
</div>

{% schema %}
{
  "name": "Left Content"
}
{% endschema %}
