.mega-menu {
    position: static;
}

.mega-menu__content {
    background-color: rgb(var(--color-background));
    border-left: 0;
    border-radius: 0;
    border-right: 0;
    left: 0;
    overflow-y: visible;
    overflow-x: visible;
    padding-bottom: 1.875rem;
    padding-top: 1.875rem;
    position: absolute;
    right: 0;
    top: 100%;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-0.625rem);
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;
}

.shopify-section-header-sticky .mega-menu__content {
    max-height: calc(100vh - var(--header-bottom-position-desktop, 12.5rem) - 2.5rem);
}

.header-wrapper--border-bottom .mega-menu__content {
    border-top: 0;
}

.js .mega-menu__content {
    opacity: 0;
    transform: translateY(-0.625rem);
}

.mega-menu:hover .mega-menu__content,
.mega-menu:focus-within .mega-menu__content {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.mega-menu .mega-menu__content {
    visibility: hidden;
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;
}

.mega-menu[open] > .header__menu-item {
    text-decoration: none;
}

.mega-menu__list {
    display: grid;
    padding: 0;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    list-style: none;
    background-color: #ececec;
    position: relative;
}

@media (max-width: 1023px) {
    .mega-menu__list {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 767px) {
    .mega-menu__list {
        grid-template-columns: 1fr;
    }
}

.mega-menu-grid-line {
    position: absolute;
    background: #808080 !important;
    pointer-events: none;
    z-index: 999 !important;
    display: block !important;
}

.mega-menu-grid-line--vertical {
    width: 1px !important;
    top: 0;
    bottom: 0;
}

.mega-menu-grid-line--horizontal {
    height: 1px !important;
    left: 0;
    right: 0;
}

.mega-menu__link {
    font-size: 1.2273rem;
    color: rgba(var(--color-foreground), 0.75);
    display: block;
    line-height: 1.4318rem;
    padding-bottom: 0.375rem;
    padding-top: 0.375rem;
    text-decoration: none;
    transition: text-decoration var(--duration-short) ease;
    word-wrap: break-word;
}

.mega-menu__link--level-2 {
    /* font-weight: bold; */
}

.header--top-center .mega-menu__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 0;
}

.header--top-center .mega-menu__list > li {
    width: 16%;
    padding-right: 1.5rem;
}

.mega-menu__link:hover,
.mega-menu__link--active {
    color: rgb(var(--color-foreground));
    text-decoration: underline;
}

.mega-menu__link--active:hover {
    text-decoration-thickness: 0.125rem;
}

.mega-menu .mega-menu__list--condensed {
    display: block;
}

.mega-menu__list--condensed .mega-menu__link {
    font-weight: normal;
}
