@reference "../../style.css";
/* --------------------------------

File#: _2_slideshow
Title: slideshow
Descr: Display and cycle through a collection of items
Usage: codyhouse.co/license

-------------------------------- */
:root {
    --slideshow-grid-gap: 0.5rem;
    --slideshow-item-auto-size: 260px;
    --slideshow-transition-duration: 0.5s;
}
@media (min-width: 64rem) {
    :root {
        --slideshow-grid-gap: 0.75rem;
    }
}

.slideshow {
    position: relative;
}

.slideshow__list {
    display: flex;
    flex-wrap: nowrap;
    will-change: transform;
}

.slideshow__item {
    flex-shrink: 0;
    width: var(--slideshow-item-auto-size);
    margin-right: var(--slideshow-grid-gap);
    margin-bottom: var(--slideshow-grid-gap);
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.slideshow__list--animating {
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property:
        transform,
        -webkit-transform;
    transition-duration: var(--slideshow-transition-duration);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.slideshow__item {
    opacity: 0;
    margin-bottom: 0;
}
.slideshow--loaded .slideshow__item {
    opacity: 1;
}
.slideshow:not(.slideshow--is-dragging)
    .slideshow__list:not(.slideshow__list--animating)
    .slideshow__item[tabindex='-1']
    > * {
    visibility: hidden;
}
.slideshow[data-drag='on'] .slideshow__item {
    user-select: none;
}
.slideshow[data-drag='on'] .slideshow__item img {
    pointer-events: none;
}

.slideshow__control {
    --size: 40px;
    width: 40px;
    height: 40px;
    display: flex;
    @apply lst:bg-white;
    border-radius: 50%;
    @apply lst:shadow-md;
    z-index: 1;
    transition: 0.2s;
}
.slideshow__control:active {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
}
.slideshow__control:hover {
    @apply lst:bg-white;
    @apply lst:shadow-lg;
}
.slideshow__control[disabled] {
    pointer-events: none;
    opacity: 0.5;
    box-shadow: none;
}
.slideshow__control .icon {
    --size: 20px;
    display: block;
    margin: auto;
}

.slideshow__navigation {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 10px);
    @apply lst:gap-2 lst:lg:gap-3;
    justify-content: center;
    align-items: center;
    @apply lst:mt-3 lst:lg:mt-5;
}

.slideshow__nav-item {
    display: inline-block;
    @apply lst:my-0 lst:mx-1 lst:lg:mx-1.5;
}
@supports (grid-area: auto) {
    .slideshow__nav-item {
        margin: 0;
    }
}
.slideshow__nav-item button {
    display: block;
    position: relative;
    font-size: 10px;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    @apply lst:bg-gray-700;
    opacity: 0.4;
    cursor: pointer;
    transition: background 0.3s;
}
.slideshow__nav-item button::before {
    content: '';
    position: absolute;
    top: calc(50% - 0.5em);
    left: calc(50% - 0.5em);
    font-size: 16px;
    height: 1em;
    width: 1em;
    border-radius: inherit;
    @apply lst:border lst:border-gray-700;
    opacity: 0;
    transform: scale(0);
    transition: 3s;
}
.slideshow__nav-item button:focus {
    outline: none;
}
.slideshow__nav-item button:focus::before {
    opacity: 1;
    transform: scale(1);
}

.slideshow__nav-item--selected button {
    opacity: 1;
}

.slideshow__navigation--pagination {
    grid-template-columns: repeat(auto-fit, 24px);
}
.slideshow__navigation--pagination .slideshow__nav-item button {
    width: 24px;
    height: 24px;
    @apply lst:text-white;
    font-size: 12px;
    line-height: 24px;
    @apply lst:rounded;
    text-align: center;
}
.slideshow__navigation--pagination .slideshow__nav-item button:focus {
    @apply lst:outline lst:outline-indigo-700;
    outline-offset: 2px;
}

.slideshow--hide-controls .slideshow__navigation,
.slideshow--hide-controls .slideshow__control {
    display: none;
}
