/* --------------------------------

File#: _2_carousel
Title: Carousel
Descr: Display and cycle through a collection of items
Usage: codyhouse.co/license

-------------------------------- */
:root {
  --carousel-grid-gap: 0.5rem;
  --carousel-item-auto-size: 260px;
  --carousel-transition-duration: 0.5s;
}
@media (min-width: 64rem) {
  :root {
    --carousel-grid-gap: 0.75rem;
  }
}

.carousel {
  position: relative;
}

.carousel__list {
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
}

.carousel__item {
  flex-shrink: 0;
  width: var(--carousel-item-auto-size);
  margin-right: var(--carousel-grid-gap);
  margin-bottom: var(--carousel-grid-gap);
}

.carousel__list--animating {
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: var(--carousel-transition-duration);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.carousel__item {
  opacity: 0;
  margin-bottom: 0;
}
.carousel--loaded .carousel__item {
  opacity: 1;
}
.carousel:not(.carousel--is-dragging)
  .carousel__list:not(.carousel__list--animating)
  .carousel__item[tabindex='-1']
  > * {
  visibility: hidden;
}
.carousel[data-drag='on'] .carousel__item {
  user-select: none;
}
.carousel[data-drag='on'] .carousel__item img {
  pointer-events: none;
}

.carousel__control {
  --size: 40px;
  width: 40px;
  height: 40px;
  display: flex;
  @apply lst-bg-white;
  border-radius: 50%;
  @apply lst-shadow-md;
  z-index: 1;
  transition: 0.2s;
}
.carousel__control:active {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
}
.carousel__control:hover {
  @apply lst-bg-white;
  @apply lst-shadow-lg;
}
.carousel__control[disabled] {
  pointer-events: none;
  opacity: 0.5;
  box-shadow: none;
}
.carousel__control .icon {
  --size: 20px;
  display: block;
  margin: auto;
}

.carousel__navigation {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 10px);
  @apply lst-gap-2 lg:lst-gap-3;
  justify-content: center;
  align-items: center;
  @apply lst-mt-3 lg:lst-mt-5;
}

.carousel__nav-item {
  display: inline-block;
  @apply lst-my-0 lst-mx-1 lg:lst-mx-1.5;
}
@supports (grid-area: auto) {
  .carousel__nav-item {
    margin: 0;
  }
}
.carousel__nav-item button {
  display: block;
  position: relative;
  font-size: 10px;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  @apply lst-bg-gray-700;
  opacity: 0.4;
  cursor: pointer;
  transition: background 0.3s;
}
.carousel__nav-item button::before {
  content: '';
  position: absolute;
  top: calc(50% - 0.5em);
  left: calc(50% - 0.5em);
  font-size: 16px;
  height: 1em;
  width: 1em;
  border-radius: inherit;
  @apply lst-border lst-border-gray-700;
  opacity: 0;
  transform: scale(0);
  transition: 3s;
}
.carousel__nav-item button:focus {
  outline: none;
}
.carousel__nav-item button:focus::before {
  opacity: 1;
  transform: scale(1);
}

.carousel__nav-item--selected button {
  opacity: 1;
}

.carousel__navigation--pagination {
  grid-template-columns: repeat(auto-fit, 24px);
}
.carousel__navigation--pagination .carousel__nav-item button {
  width: 24px;
  height: 24px;
  @apply lst-text-white;
  font-size: 12px;
  line-height: 24px;
  @apply lst-rounded;
  text-align: center;
}
.carousel__navigation--pagination .carousel__nav-item button:focus {
  @apply lst-outline lst-outline-indigo-700;
  outline-offset: 2px;
}

.carousel--hide-controls .carousel__navigation,
.carousel--hide-controls .carousel__control {
  display: none;
}