{% layout 'theme' %}

<div class="lst-grid lg:lst-grid-cols-2">
  {% section 'left-content-section' %}
  {% section 'right-blocks-section' %}
</div>

{% schema %}
{
  "name": "Left Content Right Blocks",
  "settings": [],
  "presets": [
    {
      "name": "Default",
      "category": "Content"
    }
  ]
}
{% endschema %}
